* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    color: $color-font;
}

body {
    font-family: $basicFont;
    background: $color-bg;
}

.app {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar content";

  @include notebook {
    grid-template-columns: 1fr 4fr;
  }

  @include tablet {
    grid-template-columns: 1fr 3fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: $height-header 1fr 5fr $height-footer;
    grid-template-areas:
    "sidebar"
    "content";
  }
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}