* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    color: $color-font;
}

body {
    font-family: $basicFont;
    background: $color-bg;
    font-size: 1.6rem;
}

.app {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr $height-footer;
    grid-template-areas:
    "main"
    "footer";
}

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar content";

  @include notebook {
    grid-template-columns: 1fr 4fr;
  }

  @include tablet {
    grid-template-columns: 1fr 0fr;
    grid-template-areas:
    "content sidebar";

    .sidebar {
      position: fixed;
      left: 100vw;
      height: 100%;
      width: 100vw;
      transition: all .4s ease-in-out;
    }

    .sidebar--open {
      transform: translate(-100%, 0);
      z-index: 2;
    }
  }
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}
