@import "../../styles/variables";

.content {
    grid-area: content;
    padding: 2rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-radius: .3rem;
    background: $color-main;
}