@import "../../styles/variables";

.main {
    grid-area: main;
    margin: $height-header 0 1.5rem;
    min-height: $height-main;
    overflow-y: auto;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 1.2rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #000b22;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $color-scroll;
    border-radius: 1rem;
    transition: 0.3s;
  }