@import "../../styles/variables";

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: calc(100% - 7rem);
    max-width: 90rem;
    max-height: 95vh;
    padding: 3.2rem;
    padding-right: 3.8rem;
    border-radius: .5rem;
    color: black;

    &__content {
      max-height: 85vh;
    }
  }

  .btn--close {
    position: absolute;
    top: .8rem;
    right: .8rem;
    padding: .2rem;
    font-size: 3.5rem;
    color: $color-country;
    background-color: transparent;
    border: none;
    transition: .3s;

    &:hover {
      color: $color-country-hover;
      transform: scale(1.2) ;
    }
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
}