@import "../../styles/variables";
@import "../../styles/breakpoints";

.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  background-color: $color-light-grey;
  width: 100%;
  height: $height-header;
  position: fixed;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
  }
}

.logo {
  font-size: 2.7rem;
  font-weight: bold;
  color: $color-green;
  &__text {
      color: $color-primary;
  }
}

.menu {
  display: flex;
  align-items: center;
}
