@import "../../styles/variables";

.article {
    font-size: 2rem;
    margin-top: 1rem;
    max-height: 80vh;
    overflow: hidden;

    &__title,
    &__description,
    &__author,
    &__url {
        padding: .5rem 0;
        span {
            font-weight: bolder;
            color: $color-country-hover;
            margin-right: .8rem;
        }
    }
    &__title {
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
    &__content {
        margin-top: 1rem;
        max-height: 25vh;
        overflow: auto;
    }
    .link {
        word-break: break-all;
        color: $color-green;
    }
}
